.page {
    position: relative;
}

main {
    flex: 1;
    background-color: #FAFAD2;
}

.top-menu-bar {
    background-color: #DC3545;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.top-row {
    background-color: #FFFFE0;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

@media (min-width: 641px) {
    .page {
        flex-direction: column;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
