@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing

<div class="nav-container navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <img src="images/icono-menu.jpg" alt="Logo" style="height:48px;" />
        </a>

        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="@NavMenuCssClass justify-content-end">
            <ul class="navbar-nav">
                <!-- INICIO -->
                <li class="nav-item">
                    <NavLink href="/"
                             Match="NavLinkMatch.All"
                             class="btn btn-sm btn-outline-light rounded-pill mx-1"
                             ActiveClass="btn-light text-dark">
                        Inicio
                    </NavLink>
                </li>

                <!-- CERRAR SESIÓN -->
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink href="/auth/logout"
                                     class="btn btn-sm btn-outline-danger rounded-pill mx-1"
                                     ActiveClass="btn-danger text-light">
                                Cerrar sesión
                            </NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass =>
        collapseNavMenu ? "collapse navbar-collapse" : "navbar-collapse show";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
