NavMenu.razor.css

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: #DC3545;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-brand {
    font-size: 1.1rem;
}

.bi {
}

.flex-column {
    display: flex !important;
    flex-direction: row !important;
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    margin-left: 20px;
}

.nav-item {
    font-size: 0.9rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 20px;
}

    .nav-item:first-of-type {
        padding-top: 0;
    }

    .nav-item:last-of-type {
        padding-bottom: 0;
    }

    .nav-item ::deep a {
        color: white;
        border-radius: 4px;
        height: auto;
        display: inline-block;
        line-height: normal;
        padding: 10px 15px;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.37);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }



@media (max-width: 640.98px) {

    .nav-scrollable {
        background-color: #DC3545;
        padding: 10px 0;
    }

    .flex-column {
        flex-direction: column !important;
        align-items: flex-start;
        margin-left: 0;
    }

    .nav-item {
        width: 100%;
        margin-right: 0;
        padding-left: 20px;
    }
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block !important;
    }

    .nav-scrollable {
        height: auto;
        overflow-y: visible;
    }
}
