@using Microsoft.AspNetCore.Components.Authorization

<div class="nav-menu-horizontal-container" @onclick="ToggleNavMenu">

    <div class="container-fluid d-flex justify-content-between align-items-center p-2">
        <a href=""><img src="/Images/icono-menu.jpg" alt="Logo" width="300" height="300" /></a>

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <nav class="@NavMenuCssClass nav-links-list">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="owners" Match="NavLinkMatch.All">
                        <span aria-hidden="true"></span> <i class="bi bi-list-nested-nav-menu"></i>Owners
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

   
    private string NavMenuCssClass => collapseNavMenu ? "collapse navbar-collapse" : "navbar-collapse show";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}