@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using CurrieTechnologies.Razor.SweetAlert2
@using Sultana.Shared.Entities
@inject SweetAlertService swal

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm Model="Model" OnSubmit="OnSubmit">
    <DataAnnotationsValidator />

    @if (Model.Id > 0)
    {
        <div class="mb-3">
            <label>Id:</label>
            <InputNumber class="form-control" @bind-Value="Model.Id" disabled />
        </div>
    }
     
    <div class="mb-3">
        <label>Nombre del empleado:</label>
        <InputText class="form-control" @bind-Value="Model.Nombre" />
        <ValidationMessage For="@(() => Model.Nombre)" />
    </div>

    <div class="mb-3">
        <label>Cargo:</label>
        <InputText class="form-control" @bind-Value="Model.Cargo" />
        <ValidationMessage For="@(() => Model.Cargo)" />
    </div>

    <div class="mb-3">
        <label>Contacto:</label>
        <InputNumber class="form-control" @bind-Value="Model.Contacto" />
        <ValidationMessage For="@(() => Model.Contacto)" />
    </div>

    <div class="mb-3">
        <label>Correo:</label>
        <InputText class="form-control" type="email" @bind-Value="Model.Email" />
        <ValidationMessage For="@(() => Model.Email)" />
    </div>

    <div class="d-flex gap-2">
        <button class="btn btn-primary" type="submit">Guardar</button>
        <button type="button" class="btn btn-success" @onclick="() => ReturnAction.InvokeAsync(null)">Regresar</button>
    </div>
</EditForm>

@code {
    [EditorRequired, Parameter] public Empleado Model { get; set; } = new();
    [EditorRequired, Parameter] public EventCallback OnSubmit { get; set; }
    [EditorRequired, Parameter] public EventCallback ReturnAction { get; set; }
    public bool FormPostedSuccessfully { get; set; } = false;

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        if (FormPostedSuccessfully) return;

        var result = await swal.FireAsync(new SweetAlertOptions
        {
            Title = "Confirmación",
            Text = "¿Deseas abandonar la página y perder los cambios?",
            Icon = SweetAlertIcon.Warning,
            ShowCancelButton = true
        });

        var confirm = !string.IsNullOrEmpty(result.Value);
        if (!confirm) context.PreventNavigation();
    }
}

