@using Sultana.WEB.Auth
@inject ILoginService LoginService
@inject NavigationManager Navigation

<button class="btn btn-outline-danger" @onclick="Logout">
    <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
</button>

@code {
    private async Task Logout()
    {
        await LoginService.LogoutAsync();
        Navigation.NavigateTo("/", forceLoad: true);
    }

}
